@import '../../../assets/styles/colors.scss';
@import '../../../assets/styles/text.scss';

.srhero__input--container {
    display: block;
    margin-bottom: 1rem;

    .srhero__input {
        @include font-style(body);
        width: 100%;
        color: $primary;
        padding: 0.5rem 0.5rem;
        border-radius: 0.5rem;
        background-color: white;
        appearance: none;
        margin-bottom: 0.2rem;
        border: 0.125rem solid $secondary;
    
        &:focus {
            outline: none;
            border: 0.125rem solid $main-primary;
        }
        &.srhero__input--error {
            border: 0.125rem solid $bg-error;
            background-color: #f19a989a;
        }
    }
    
    .srhero__label {
        display: block;
        @include font-style(body);
        color: $secondary;
        margin-bottom: 0.25rem;
        text-transform: uppercase;
    }
    
    .srhero__input--error-label {
        display: block;
        @include font-style(body);
        color: $bg-error;
    }
}