<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <IsLinux>true</IsLinux>
    <ApiResourceId>/subscriptions/5d78a5a3-461c-4fab-98a5-21efb3096274/resourceGroups/Student/providers/Microsoft.ApiManagement/service/student-risk-hero-api/apis/student-risk-hero</ApiResourceId>
    <OpenApiDocumentName>v1</OpenApiDocumentName>
    <UpdateApiOnPublish>true</UpdateApiOnPublish>
    <ResourceId>/subscriptions/5d78a5a3-461c-4fab-98a5-21efb3096274/resourceGroups/Student/providers/Microsoft.Web/sites/student-risk-hero</ResourceId>
    <ResourceGroup>Student</ResourceGroup>
    <LaunchSiteAfterPublish>true</LaunchSiteAfterPublish>
    <SiteUrlToLaunchAfterPublish>https://student-risk-hero.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <ProjectGuid>87d6dab0-f78a-45a1-915b-64fdce043ab0</ProjectGuid>
    <PublishUrl>https://student-risk-hero.scm.azurewebsites.net/</PublishUrl>
    <UserName>$student-risk-hero</UserName>
    <_SavePWD>true</_SavePWD>
  </PropertyGroup>
</Project>