// Color pallete
$primary: #212121 ;
$secondary: #424242 ;
$tertiary: #757575;

$bg-main: #eceff1;
$bg-secondary: #546e7a;
$bg-tertiary: #cfd8dc ;

$main-primary: #3f51b5;
$main-secondary: #2196f3;

$bg-info: #03a9f4;
$bg-success: #00c853;
$bg-error: #e53935;
$bg-warning: #ff9800;